/*  -----------------------------------------        */
/*  Übergreifend / Body                              */
/*  -----------------------------------------        */
html, body {
 background-image:url("sanfte-wellen-im-sanften-licht.jpg");
 background-repeat:no-repeat; 
 background-size: cover;      
 overflow:hidden;             
 font-size:12pt;
 }
#kopfbereich {

  position:fixed;             
  top:0;                     
  left:0;                    
  border: 1px solid #0b167900;    
  background-color:rgb(0, 0, 0);    
  width:100%;                
  height:100px;              
  z-index:2;                 
}

#navibereich {
  position:fixed;            
  top: 100px;                
  left:0;                    
  border: 1px solid #21f1e000;   
  background-color:rgb(146, 163, 211);      
  width:200px;               
  min-height:300px;          
  z-index:2;                 
}

#textbereich {

  position:fixed;            
  left:0;                    
  right:0;                   
  top:100px;                 
  padding-left:210px;      
  padding-right:210px;      
  padding-top:20px;          
  padding-bottom:60px;      
  border: 1px solid #11044b00;    
  height:100%;              
  overflow-y: auto;          
  background-color:rgba(8, 250, 230, 0); 
}

#newsbereich {
  position:fixed;            
  right:0px;                 
  top: 100px;                
  border: 1px solid #cccccc00;  
  background-color:rgb(0, 0, 0);   
  min-height:300px;          
  z-index:2;                 
  }
#fussbereich {

 position:fixed;              
 bottom:0;                    
 left:0;                      
 border: 1px solid #ccc;      
 width: 100%;                 
 background-color: rgb(0, 0, 0);      
 height:50px;                 
 z-index:2;                     
} 

/*  Höhe des Contentbereichs festlegen */                    
.content-block {
  padding-bottom: 1000px;
}

/*  ----------------------------------------- */
/*  Schriftformatierung                       */
/*  ----------------------------------------- */

{
font-family: 'Montserrat', sans-serif;  
font-style:normal;                      
font-size:11pt;                         
font-weight:400;                       
color:#000000;                          
}

 #logobereich {
  position:fixed;               
  top:0;                            
  left:0;                            ;
  border: 0px solid #0c0d6b; 
  background-image:url("name-des-bildes.png");
  background-repeat:no-repeat; 
  background-size: cover;    
  background-color:rgba(143, 50, 230, 0);    
  width:200px;                 
  height:100px;                 
  z-index:3;                                      
}

/*  ----------------------------------------------------------- */
/*  Bildformatierung für Bilder im Textbereich      */
/*  ----------------------------------------------------------- */
.text-image-left {
width:200px;  
margin:0px;   
float:left;        
}
.text-image-right {
width:200px; 
margin:0px;  
float:right;     
}
