/*  -----------------------------------------        */
/*  Übergreifend / Body                              */
/*  -----------------------------------------        */
html, body {
 background-image:url("sanfte-wellen-im-sanften-licht.jpg");
 background-repeat:no-repeat; 
 background-size: cover;      
 overflow:hidden;             
 font-size:12pt;
 }
#kopfbereich {

  position:fixed;             
  top:0;                     
  left:0;                    
  border: 1px solid #0b167900;    
  background-color:rgb(0, 0, 0);    
  width:100%;                
  height:100px;              
  z-index:2;                 
}

#navibereich {
  position:fixed;            
  top: 100px;                
  left:0;                    
  border: 1px solid #21f1e000;   
  background-color:rgb(146, 163, 211);      
  width:200px;               
  min-height:300px;          
  z-index:2;                 
}

#textbereich {

  position:fixed;            
  left:0;                    
  right:0;                   
  top:100px;                 
  padding-left:210px;      
  padding-right:210px;      
  padding-top:20px;          
  padding-bottom:60px;      
  border: 1px solid #11044b00;    
  height:100%;              
  overflow-y: auto;          
  background-color:rgba(8, 250, 230, 0); 
}

#newsbereich {
  position:fixed;            
  right:0px;                 
  top: 100px;                
  border: 1px solid #cccccc00;  
  background-color:rgb(0, 0, 0);   
  min-height:300px;          
  z-index:2;                 
  }
#fussbereich {

 position:fixed;              
 bottom:0;                    
 left:0;                      
 border: 1px solid #ccc;      
 width: 100%;                 
 background-color: rgb(0, 0, 0);      
 height:50px;                 
 z-index:2;                     
} 

/*  Höhe des Contentbereichs festlegen */                    
.content-block {
  padding-bottom: 1000px;
}

/*  ----------------------------------------- */
/*  Schriftformatierung                       */
/*  ----------------------------------------- */

{
font-family: 'Montserrat', sans-serif;  
font-style:normal;                      
font-size:11pt;                         
font-weight:400;                       
color:#000000;                          
}

 #logobereich {
  position:fixed;               
  top:0;                            
  left:0;                            
  border: 0px solid #0c0d6b; 
  background-image:url("name-des-bildes.png");
  background-repeat:no-repeat; 
  background-size: cover;   
  background-color:rgba(143, 50, 230, 0)    
  width:200px;                 
  height:100px;                 
  z-index:3;                                      
}

/*  ----------------------------------------------------------- */
/*  Bildformatierung für Bilder im Textbereich      */
/*  ----------------------------------------------------------- */
.text-image-left {
width:200px;  
margin:0px;   
float:left;        
}
.text-image-right {
width:200px; 
margin:0px;  
float:right;     
}

 #logobereich {
  position:fixed;               
  top:0;                            
  left:0;                            
  border: 0px solid #ccc; 
  background-image:url("name-des-bildes.png");
  background-repeat:no-repeat; 
  background-size: cover;    
  background-color:rgba(16,78,139,0);    
  width:200px;                 
  height:100px;                 
  z-index:3;                                      
}

/*  ----------------------------------------------------------- */
/*  Bildformatierung für Bilder im Textbereich      */
/*  ----------------------------------------------------------- */
.text-image-left {
width:200px;  
margin:0px;   
float:left;        
}
.text-image-right {
width:200px; 
margin:0px;  
float:right;     
}
/*  -----------------------------------------        */
/*  Menüformatierung                                 */
/*  -----------------------------------------        */

/*  Linkformatierung für das Menü übergreifend       */
.naviformat a, button {
  	font-family: 'Montserrat', sans-serif;
  	text-transform:uppercase;	! Verwende Großbuchstaben;
font-size:90%;            	! Festlegung des Schriftgröße;
	font-weight:700;		      ! Festlegung Fettschrift für Montserrat;
	color: rgb(0,0,0);		! Festlegung des Schriftfarbe (schwarz);
	display: block;			! Art der Anzeige als Blockelement;
	transition: all 0.3s ease-out 0s; ! Definition Übergang von Normal zu Hover;
	text-decoration:none;		! Keinen Unterstrich unterhalb des Menütitels;
  	line-height: 20px;		! Höhe der Zeile wird festgelegt;
  	padding: 5px 5px;			! Innenabstand nach links/rechts/oben/unten;
}
/*  Formatierung des Hauptmenüs (mainnav)                  */
.mainnav {
	text-align:right;          ! Textausrichtung rechtbündig;
	list-style-type: none;     ! es werden keine Aufzählungszeichen dargestellt;
	margin: 20px 5px;          ! Abstände nach oben/unten und rechts/links;
       padding: 5px 5px;          ! Innenabstand nach links/rechts/oben/unten;
}

.mainnav > li {
	float:none;	! Menüpunkte untereinander, bei float:left, nebeneinander;
}				
/*  Formatierung des aktiven Hauptmenüpunkts */
.mainnav > li > a.active {
	font-weight:700;		! Festlegung der Fettschrift, auch „bold“ möglich;
	text-shadow: 1px 1px black, 2px 2px grey, 3px 3px 	#696969; ! Text-Schatten;
  	color: rgba(90,195,208,1);	! Festlegung des Schriftfarbe;
}
/*  Formatierung des Menüpunkts, wenn die Maus darüber fährt */
.mainnav > li > a:hover {
	font-weight:700;		! Festlegung der Fettschrift, auch „bold“ möglich;
	font-style:italic;	! Festlegung der Kursiv-Schrift;
	text-shadow: 1px 1px white, 2px 2px white, 3px 3px white; ! Text-Schatten;
  	background-color:rgba(255,255,255,0.7);   ! Hintergrundfarbe;
}
/*  -----------------------------------------        */
/*  Für Teaser (Blickfang)             	        */
/*  -----------------------------------------        */
.teaser {
	font-weight:bold;				! setze Schriftart und -gewicht;
	font-family:'Montserrat', sans-serif;
	padding: 5px 5px;				! Innenabstand für den Teaser;
	margin: 0 2px 4px 2px;			! Außenabstand nach unten zum nächsten Teaser;
	border-bottom: 1px solid #ccc;		! unten gibt es eine Begrenzungslinie;
}
.teaser_date {
	font-size:90%;                          ! etwas kleiner als die Standardschrift;
}
.teaser_title {
	font-size:110%;                         ! etwas größer als die Standardschrift;
	line-height:140%;
}
.teaser_text {
        line-height: 140%;                     ! Anpassung der Zeilenhöhe;
}
a.teaser_link {
padding-top: 4px;
color:black;
}
.teaser_border {
  color: #333;
  border: 2px solid #548b54;
}
